* { direction: rtl; }

.owl-carousel .owl-wrapper-outer{direction:ltr;}

/*-------------------------------------Float Left-------------------------------------*/
.header-cart,#cart .text-right .addtocart, #cart .text-right .checkout,.pagination-right,
.category_filter .limit,.pull-right,.contact-info .right,.pagination-wrapper .page-link,.dropdown.myaccount,
#cart,.close,#accordion .panel-heading .fa.fa-caret-down,#cart .button-container,.information-information .right,
#button-search,.header-right,.col-sm-3.header-cart,.lang-curr,.subbanner-cms1,.category_tab .nav-tabs,.subbannercmspart2,
.payment-cms,.category .image
{float:left;}
/*-------------------------------------------------------------------------------------*/

/*-------------------------------------Float Right-------------------------------------*/
.header-logo,.header-search,.category_filter .btn-list-grid,.compare-total,.category_filter .show,
.category_filter .sort,.sort-by-wrapper, .show-wrapper,.pull-left,.image1,.image2,.image3,.image4,
.contact-info .left,.contact-info .address-detail,.contact-info .telephone,.contact-info .fax,.contact-info .openingtime,
.pagination-wrapper .page-result,.nav-tabs > li,legend,.product-thumb .price-new,.product-thumb .price-old,.header-left,
.headertopleft,#search,#search .input-group-btn,#search .input-lg,.main-menu ul > li,.box-category-heading,.offer-part1,
.offer-part2,.category_tab ul li,.subbannerpart1, .subbannerpart2, .subbannerpart3,.subbannercmspart1,.social-cms,
.cat-desc,ul.subcats,#top-links ul.list-inline,.shopping-cart .input-group .form-control,.cate-heading,.contact-info .comments,
.app-cms li a,.megnorcategory .dropmenu .categorycolumn li a, .col-sm-5.header-search, 
#button-cart, .productpage .form-group.qty .wishlist, .productpage .form-group.qty .compare
{float:right;}
#column-left .box .box-content ul li ul li a::before, #column-right .box .box-content ul li ul li a::before{float:right;content:"\f104";margin-right:0;margin-left:0px;right:-12px}
/*-------------------------------------------------------------------------------------*/

@media (min-width:1310px){
/*#content .col-lg-2:nth-child(6n+1), #content .col-lg-2:nth-child(6n+1), #content .col-lg-3:nth-child(4n+1), #content .col-lg-4:nth-child(3n+1), #content .col-lg-6:nth-child(2n+1){clear:right}*/
}
.text-right {text-align: left;}
.text-left {text-align:right;}
.contact-info .address-detail,.contact-info .telephone,.contact-info .fax{float:right;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, 
.input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, 
.input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-radius: 0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	-moz-border-radius:0;

}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn{
	border-radius: 0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	-moz-border-radius:0;
}
#content .productpage_details #column-right{float:left;}
.productpage .productpage_details .product-right {    margin-right: 30px; margin-left:0;}
.layout-3 #column-left {    padding-left: 15px;    padding-right: 0;    width: 18.93%;}
.layout-3 #column-right {    padding-left: 0;    padding-right: 15px;    width: 18.93%;}
.dropdown.myaccount {  float: left;    margin: 0; }
#form-language, #form-currency{ border-left: 1px solid #000000;border-right:none;}
.product-thumb .price-old{margin:0 5px; }
.category_list li {float: right;margin: 0 0 5px 10px;}
.category_filter .sort-by{float:right;margin:8px 0 0 10px;}
#column-left{ float:right; }
#column-right{ float:left; }
.flex-viewport {direction: ltr;}
.main-menu > ul > li {float:right;}
.main-menu > ul > li ul > li > ul{ margin-left:0; margin-right:-13px;}
.main-menu > ul > li ul > li > a { position:relative;}
.flex-control-nav{ right:auto; left:10px; padding:0;}
.sale{ left:auto; right:-27px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
 }
#slideshow0.owl-carousel .owl-buttons .owl-prev::before{left:-13px;top:4px;}
#slideshow0.owl-carousel .owl-buttons .owl-next::before{left:-10px;}
.product-thumb .button-group{overflow:hidden;}
.quickview-button a.quickbox::before{left:10px;right:auto;top:5px;}
.product-list .sale{  left: 10px; right: auto;}
.customNavigation a.prev { left:15px;  right: auto;}
.customNavigation a.next{ left:46px;  right: auto; }
.featured .customNavigation a {    top: -55px;}
.main-menu > ul > li ul > li > a.activSub{background-image: url("../../image/megnor/rtl/cat_arrow_hover_rtl.png"); background-repeat: no-repeat; background-position: left center; }
.main-menu > ul > li ul > li:hover > ul {left:auto; right:173px;}
.box .box-content ul li{margin-right:0; }
ul.box-category > li a.active + ul , .box .box-content ul ul{ margin-left:0; margin-right:0;}
ul.box-category > li ul > li > a{
}
ul.box-category > li ul > li > a:hover{
}
#column-left #carousel-0, #column-right #carousel-0 {    float: left;    width: 100%;}
.content_header_top .box.megnorcategory{right:0;left:auto;}
.treeview-list .collapsable .expandable-hitarea::before, .treeview-list .collapsable-hitarea::before,
.treeview-list .expandable .collapsable-hitarea::before, .treeview-list .expandable-hitarea::before{float:left;}
#nav-one > li > .dropdown-menu { left:auto; right:277px; }
#nav-one li .megamenu.column1 ul.list-unstyled > li.dropdown .dropdown-menu { left:auto; right:238px; }
#nav-one ul { text-align:right; }
.filterbox .panel-footer{text-align:right; }
.alert-success .fa.fa-check-circle{margin-right:0; margin-left:5px;}
.footerblock{padding-left:0; padding-right:47px;}
.footerblock1{background-position:right -140px; }
.footerblock1:hover{background-position:right -210px; }
.footerblock2{background-position:right -280px; }
.footerblock2:hover{background-position:right -350px; }
.footerblock3{background-position: right 0px; }
.footerblock3:hover{background-position:right -70px}
.footerblock4{background-position: right -420px; }
#button-cart::before{margin-right:0; margin-left:10px;}
.footerblock4:hover{background-position:right -490px; }
#footer .column{margin-right:0; }
.headertopright .text2-dec{float:right;}
#footer .column li a{ padding-left:0;background-position:right 8px; }
#footer .column li a:hover{ background-position: right -23px; }
.owl-pagination{left:15px; margin-left:0 !important;}
.manufacture_block > ul { float:right; text-align:right; padding-right:15px; padding-left:0;  }
.manufacture_block > ul li { background-position:left 6px; padding:0 10px 2px 15px; }
.manufacturer_title { float:right; }
p.powered { float:left; }
.footerbottom-cms { float:left; }
.form-horizontal .control-label {
    text-align: right;
}
.static_links li{float:right;}
.static_links li:last-child a {    padding-left: 0;    padding-right: 25px;}
.ser-banner .round_img{
	float:right; margin-left:0; margin-right:10px;
}
.ser-text1, .ser-text2, .ser-text3 { float:right; }
.category_tab .owl-wrapper-outer{margin-top:10px;float:left;}
#footer .column:after{left:0; right:auto}
#content #button-search {    float: right;    margin-bottom: 6px;}
.social-cms li{margin:0 0 0 10px;}

.social-cms li:last-child{margin-left:0;}

.app-cms li{margin-right:0; margin-left:10px}

.bottomfooter ul li{  }

.comment-wrapper{float:left;}
.top_button{left:20px; right:auto;}
.myaccount .dropdown-menu-right {
    right: auto;
    left: 0;
}
.dropdown-menu.pull-right {
    right: auto;
    left: 0;
}
.top_button::before{right:-9px;}
.bottomfooter .list-unstyled{float:right;}
.product-block .image .hover-image, #column-right .image .hover-image, #column-left .image .hover-image {  }
.product-block .image:hover .hover-image, #column-right .image:hover .hover-image, #column-left .image:hover .hover-image {  }
#column-left .box .box-heading:after, #column-left #testimonial .box-heading:after, #column-right .box .box-heading:after, #column-right #testimonial .box-heading:after { left:auto; right:0; }
.headertopright{text-align:right; float:right; padding-left:0px; }
.headertopright .text2 { background-position: right center;    margin-right: 15px;    padding-left: 0;    padding-right: 40px;}
.head-right-top { float:left; }
.headertopleft{text-align:right}
.contact-text{background-position:right center; padding-right:30px; padding-left:0}
.shipping-cms{background-position:right center; padding-right:75px; padding-left:0px;}
#search .input-lg{ background-position:right center; }
.header-content #search .input-group-btn {    float: left;    width: auto;}
.header-search .customSelectInner::after { right:auto; left:5px; }
.header-search .customSelectOpen .customSelectInner::after { right:auto; }
.layout-2.left-col #column-left{padding-left:30px; padding-right:0;}
.layout-2.right-col #column-right{padding-right:30px; padding-left:0;}
.box-category-heading:before{right:0; left:auto;}

.main-menu .dropdown > a::after{right:auto; left:5px;}
.header-container.smaller .header-right{padding-left:0; padding-right:40px;}
#menu ul.nav li .megamenu ul.list-unstyled li .dropdown-menu{left:auto; right:auto;}
.main-menu > ul > .dropdown .megamenu.column1 ul > li.dropdown > a::after{right:auto; left:-15px;/* content:'\f104';*/}

#menu ul.nav li .megamenu.column1 ul.list-unstyled > li.dropdown .dropdown-menu{left:auto; right:0px;}
.main-menu ul li ul .list-unstyled a::before{float:right;right:-12px;content:'\f104';}
.dropmenu li span{float:left; left:10px; right:auto;}
.dropmenu li span:before{
content:"\f104";
}
.tmsubbanner-container1, .tmsubbanner-container2, .tmsubbanner-container3{float:right;}
.head-right-bottom { float:left; }
.categorycolumn ul{float:right;}
.offer-part2{margin-left:0; margin-right:20px}
.category_tab .nav-tabs {    float: right;    margin-left: 0;    margin-right: 0;    padding: 0 0 15px;  width: 100%;}
.category_list_cms .subcategory li a::after{float:left;content:"\f104";}
.category_list_inner{margin-left:0;margin-right:12px;}
.box-head .blog_tagline , .newsleft{float:right;}
#footer .col-sm-3.column {    border-right: 1px solid #e8e8e8;    padding: 0 20px 0 0;border-left: medium none;margin:0}
#footer #footer_storeinformation_block li{padding-right:25px;padding-left:0;}
#footer #footer_storeinformation_block li.address, #footer #footer_storeinformation_block li.call-num, #footer #footer_storeinformation_block li.email {
    border: medium none;
    padding: 0;
}
#footer li.address:after{
content:"\f041";
font-family:"fontawesome";
font-size:15px;
margin-left:15px;
color: #2196f3;
}
#footer li.call-num:after{
content:"\f095";
font-family:"fontawesome";
font-size:15px;
margin-left:15px;
color: #2196f3;
float:right;
}
#footer li.email:after{
content:"\f0e0";
font-family:"fontawesome";
font-size:15px;
margin-left:15px;
color: #2196f3;
}
#footer li.address:before , #footer li.call-num:before , #footer li.email:before{content:none;}
#footer #footer_storeinformation_block li.paymt{float:right;margin-right:0;margin-left:10px;}
.content-top-breadcum #title-content > h2, .content-top-breadcum #title-content > h1{float:right;}
#footer li.paymt > a {    line-height: 12px;}
footer .follow, footer .payment{margin-bottom:15px;}
#footer_aboutus_block li.social {margin-right:0;    float: right;    margin-left: 10px;}
#Tab_Category_Slider .nav li{border-left: 1px solid #808080;    border-right: medium none;}
#Tab_Category_Slider .nav-tabs > li:first-child > a {    padding-right: 0; padding-left: 15px;}
.bottomfooter ul li{border-right: 1px solid;border-left:none;}
#footer #footer_aboutus_block.col-sm-3.column{margin-right:0;margin-left:35px;}
#content .box .box-heading::after { left:auto; right:0; }
.hometab .customNavigation a.prev { left:15px; right:auto; }
.hometab .customNavigation a.next { left:46px; right:auto; }
.hometab .customNavigation a {    top: -55px;}
.category_tab .tab-pane .owl-prev{left:15px; right:auto;}
.category_tab .tab-pane .owl-next{left:45px; right:auto ;}
.category_tab ul li{background-position:left center}
.subbanner-one{margin-left:20px; margin-right:0;}
.subbanner-three{margin-right:20px; margin-left:0;}
#blog-carousel .owl-controls .owl-buttons .owl-prev{left:15px; right:auto}
#blog-carousel .owl-controls .owl-buttons .owl-next{left:56px; right:auto}
.product-list .product-thumb .caption {border-right:none;    border-left: 1px solid #e5e5e5;    float: right;    margin: 30px 0 0;    padding: 0 0 0 20px;    text-align: right;    width: 70%;}
.product-list .product-thumb .list-right{float:left;}
.product-list .product-block .product-details.list .compare, .product-list .product-block .product-details.list .wishlist{padding:0 0 0 20px;}
.product-list .product-block .product-details.list .wishlist::before, .productpage .form-group.qty .wishlist::before , .product-list .product-block .product-details.list .compare::before, .productpage .form-group.qty .compare::before{margin-left:5px;margin-rihgt:0;}
#tabs_info .nav.nav-tabs {    padding-right: 0;}
#tabs_info .nav-tabs > li{border-left:1px solid #d9d9d9;border-right:none;}
#tabs_info .nav-tabs > li:last-child{border-left:none;}
#tabs_info .nav-tabs > li:first-child > a{margin-left:4px;}
#testimonial .customNavigation a.prev{left:-15px; right:auto;}
#column-left .news, #column-right .news{float:right;}
#testimonial .customNavigation a.next{left:10px; right:auto;}
.address_content{padding-right:45px; padding-left:135px; background-position:415px 4px; }
#contact .phone { padding-right:45px; padding-left:0; background-position:415px -66px; }
#contact .email  { padding-right:45px; padding-left:0; background-position:415px -132px; }
#footer #contact.col-sm-3.column .fa{clear:right; float:right; margin-right:0; margin-left:10px; }
#top-links ul.list-inline{margin-left:5px; margin-right:0;}
#top-links ul.list-inline li{padding:0 8px 0 15px; background-position:left center;}
#form-language, #form-currency {background-position:left center; padding:0 0 0 10px; margin-right:0; margin-left:10px;}
.fa-caret-down{margin:0 2px 0 0;}
.navbar-nav{float:right;}
#cart > .btn {    background-position: 119px 13px;    padding: 10px 60px 10px 0;}
#cart > h4{left:2px;}
.img-prd .left-image, .left-image.categorytabs{float:right;}
.hometab.box, .category_tab .tabs, .box.featured{margin: 0;}
#form-language .dropdown-menu{left:0; right:auto;}

#form-currency .dropdown-menu{left:0; right:auto;}

#form-currency .currency-select{text-align:right}

#top #form-currency .currency-select{text-align:right;}
#tabs_info .nav-tabs > li > a{margin:0 4px}

.breadcrumb{ float:left; }

.col-sm-3.sort {    margin-left: 30px;    margin-right: 0;    padding: 0;}
.col-sm-3.header-cart{margin-left:0; margin-right:10px;}
.product-thumb .rating { float:right; }
.product-thumb .button-group .addtocart::before{float:right;right:-8px}
.product-thumb .button-group button{padding:5px 20px 5px 0;}
#Tab_Category_Slider .owl-carousel .owl-buttons div{top:-21px;}
.breadcrumb>li+li:before{float:right; content:'\f100';}
.customSelectInner , .customSelectOpen .customSelectInner, .header-search .customSelectInner, .header-search .customSelectOpen .customSelectInner{ background-position:left center; } 
.customSelectInner {padding-left:10px;  text-align: right;}
.product-grid li, #content .box-product .product-items{ float:right; }
.category-info .image{ float:right; margin-left:10px; }
#column-left .box-product .image, #column-right .box-product .image{ float:right;   margin-left: 10px; margin-right:0; }
#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button{text-align:right;}
.col-sm-8.product-left{margin-right:0;margin-left:40px;}
.col-sm-4.product-right{padding:0 15px 0 0;}
#column-left .product-thumb .button-group, #column-right .product-thumb .button-group { float:right; }
#column-left .box-product .rating, #column-right .box-product .rating, #column-left .box-product .name, #column-right .box-product .name, #column-left .box-product .price, #column-right .box-product .price, #column-left .box-product .cart, #column-right .box-product .cart{ margin-left:0; float:right; }
.product-list .right{ float:left;margin-left: 0px; margin-right:15px; text-align:left;}

span.old-price {
    margin-left: 10px;
	margin-right:0;
}

.col-md-3.row-result-search-autocomplete-image, .col-md-6.result-info, #searchbox{float:right;}
.result-search-autocomplete-image{margin-left:0; margin-right:15px;}

.pagination>li>a, .pagination>li>span{float:right}

#content ul.list-unstyled.price li{float:right}

.comment_info{margin-left:0;}
.headertopright .text2 a{float:left;}
#column-left .testimonial-cms.box, #column-right .testimonial-cms.box{float:right;width:100%;}
.productpage .product-right ul li span.old-price, .productpage .product-right ul li span.special-price{float:right}

.product-info > .left + .right {  margin-right: 295px;   margin-left:0px;}
.product-carousel .slider-wrapper-outer{ direction:ltr !important; } 
.product-right .btn-group .wishlist .fa,.product-right .btn-group .compare .fa{margin-right:0px; margin-left:5px;}

.form-group.qty .control-label{float:right; margin:6px 0 0 10px}

.productpage #input-quantity{float:right; margin-right:0; margin-left:15px}

#topcontrol{ right:auto !important; left:10px !important; } 

.list-inline {padding-right:0;}

#column-left .product-items .product-details, #column-right .product-items .product-details{margin-left:0;}
#cart .text-right .addtocart, #cart .text-right .checkout{float:right;}
.product-thumb .button-group button { float:right; left:auto; right:-29px; }
.product-thumb .button-group button.wishlist { left:auto; right:-82px;  }
.product-thumb .button-group button.compare { left:auto; right:-123px; }
.quickview-button { float:left}
#cart .text-right .addtocart{margin:0 0 0 5px;}
.product-thumb:hover .button-group button, .product-thumb:hover .button-group button + button, #content .product-grid .product-thumb:hover .quickview-button, #content .product-carousel .product-thumb:hover .quickview-button, #content .box-product .product-thumb:hover .quickview-button, #producttab .box-product .product-thumb:hover .quickview-button, .related .box-product .product-thumb:hover .quickview-button { left:auto; right:0; }

.product-thumb .button-group button + button{ margin:0 5px 0 0; }
.quickview-button a.quickbox { margin-left:0; margin-right:4px; }

.product-list .product-thumb .image{ margin-right:0; margin-left:15px; }
.product-list .product-thumb .quickview-button, .product-list .product-thumb .button-group button + button , .product-list .product-thumb .button-group button { left:auto; right:0; }
.product-list .product-thumb .percentsaving.list-save { left:5px; right:auto; }
.product-list .sale { right:-27px; left:auto; }

.addtocart .fa{margin-left:10px; margin-right:0;}

.product-thumb .caption {text-align:right}

.category_img {float:right;}
.category_description {float:left;}
.list-unstyled {padding-right:0;}
.treeview-list .expandable-hitarea, .treeview-list .hitarea {float:left;}

.addthis_toolbox.addthis_default_style {float:right;}
.radio input[type=radio],.radio-inline input[type=radio],.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox] {
    float: right;
	margin:3px 0 0 8px;
}
.radio, .checkbox,.radio-inline, .checkbox-inline{padding-left:0;}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{margin-right:10px; margin-left:0;}
.toggle .mobile_togglemenu{left:0px; right:auto;}

.col-sm-offset-8{margin-left:0; margin-right:66.66666666666666%; float:left;}

.shopping-cart .input-group-btn {
    float: right;
}

#accordion label.col-sm-2.control-label,#accordion label.col-sm-3.control-label{padding:0 0 0 15px;}
.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin-left:0px; margin-right:5px;}
#accordion .form-horizontal .control-label {text-align:right;}
.checkout-checkout #accordion label.col-sm-2.control-label{padding-left:0; padding-right:15px;}

#bottom-footer li{padding:1px 2px 1px 7px; background-position:left center;}

.sitemap-left ul, .sitemap-right ul{padding-right:30px; padding-left:0;}
#column-right .toggle .mobile_togglemenu::before, #column-left .toggle .mobile_togglemenu::before{right:auto; left:15px;}
.toggle .mobile_togglemenu:before  { left:0; right:auto; }
ul.subcats li a:hover::after {
    color: #25aef5;
    font-size: 4px;
    padding-right: 10px;
	padding-left:0; 
}
ul.subcats li a:hover{padding-left:0; padding-right:10px;}
ul.subcats li a::after {
    content: "\f111";
    font-family: "FontAwesome";
    font-size: 0;
    line-height: 20px;
    position: absolute;
    right: -10px;
    transition:all 300ms ease 0s;
   	-webkit-transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-ms-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
    z-index: 99;
}
ul.subcats li a::before{content:none;}
.contact-info .address-detail strong , .contact-info address, .contact-info .address-detail, .contact-info .telephone, .contact-info .fax, .contact-info .fax strong, .contact-info .telephone strong{float:right;}
.contact-info .address-detail strong{padding: 5px 35px 0 0px;background-position:88px -234px;}
.contact-info address{margin:0 35px 0 0;}
.contact-info .telephone strong{background-position:126px -313px;padding: 5px 35px 0 0px;}
.contact-info .fax strong{background-position:32px -270px;padding: 5px 35px 0 0px;}
/*Megnor Blog CSS */ 
#content .box-product .blog-items {  float:right; }
.blog-left { float:right;}
.blog-right { float:right; }
.view-blog { text-align:right;}
.read-more { float:right; }
.write-comment { float:none;padding-left:0;padding-right:18px; }
.common-home .write-comment::before{left:auto;right:9px;}
.date-time {float:right; text-align:right;}
.blog-date {left: auto; right: 0px;}
.information-blogger-blogs .read-more{float:right}

.write-comment-count,.information-blogger-blogs .write-comment{float:right}
.write-comment-count{margin-right:0; margin-left:15px}
.blog-right-content .read-more a:after{content:'\f104'; margin-right:7px; margin-left:0;}
.user_icon{float:right; margin:2px 0px 15px 15px;}
.blog-right-content{margin-right:0px; margin-left:0; float:right}
/*Megnor Blog CSS */ 
#cart > .btn:hover {    background-position: 119px 13px;}
.header_cms_text, .hometab .tab-title, .page-title, .product-title, .product-option, h2, .h2, h1, .h1 , .productpage h3.product-title { white-space:nowrap; }
.checkout-checkout .buttons, .buttons, .all-blog .read-more a, .breadcrumb>li  { white-space:nowrap; }
.pagination-wrapper .page-result{display:inline-block; white-space:nowrap;}
.content_header_topleft { float:right; }
.catgory-left { padding-right:0; padding-left:30px; float:right; }
.box-category-heading .fa { float: right;    margin-left: 10px;    margin-right: 0; }
.category-left-box .box-content ul li:hover a{padding-right:15px;padding-left:0;}
#nav-one > li.dropdown::after, #nav-one > li.hiden_menu::after { right:auto; left:25px; content:'\f104';  }
#nav-one > li.dropdown .column1 ul .dropdown::after { right:auto; left:25px; content:'\f104';  }
.main-slider { float:right; }
#Tab_Category_Slider .owl-carousel .owl-buttons .owl-prev {    left: 13px;    right: auto;}
.quickview .form-group.qty .wishlist, .quickview .form-group.qty .compare , .quickview #input-quantity{float:right;}
.quickview .qty #button-cart2 {  float: right;  margin-right: 10px;}
.quickview .form-group.qty .wishlist, .quickview .form-group.qty .compare{padding: 8px 12px 2px 0;}
.product-thumb .percentsaving{float:right;}
.product-list .product-block .product-details.list .wishlist::before, .productpage .form-group.qty .wishlist::before, .quickview .button-group .wishlist::before , .product-list .product-block .product-details.list .compare::before, .productpage .form-group.qty .compare::before, .quickview .button-group .compare::before{margin-left:7px;margin-right:0;}
.newsletter h5.news-title { float:right; padding:35px 88px 34px 0; background-position:right center; }
.newsletter .input-news { float:right; }
.subscribe-btn { float:left; }
.newsright { float:left; }
.top-inner .left-aboutus { float:right; }
.top-inner .left-logo { float:right; padding-right:0; padding-left:40px; }
.top-inner .left-desc { padding:10px 30px 10px 115px; float:right; }
.social-cms ul li.facebook a .fa { margin-left:0; margin-right:3px; }
.footer-blocks::before, .footer-blocks::after { left:auto; right:0; }

.category_list_cms .subcategory li a::after{left:-3px;right:auto;}

@media (max-width: 1500px) and (min-width:1450px) {
#searchbox{width:72%;}
.head-right-bottom{width:21%;padding:0 10px 0 0}
}


@media (max-width: 1449px) and (min-width:1200px){
.header-left{padding-left:10px; padding-right:0;}
#top-links ul.list-inline li{padding: 0 0px 0 7px}
#form-language{padding: 0 0px 0 2px; margin-left: 3px; margin-right:0;}
.lang-curr{margin-right:0px; margin-left:0px;}
#footer .column.col-sm-3.newsletter{margin-left:0;}
.col-sm-5.header-search { padding:0; }
.head-right-bottom{width:23%;padding:0 10px 0 0}
.subbanner-cms1 { padding-right:20px; }
.layout-3 #content {    width: 59.5%;}
.common-home #nav-one > li > .dropdown-menu { right:268px; left:auto; }
#nav-one > li > .dropdown-menu { right:168px; left:auto; }
.serviceblock1{background-position:150px 6px;  }
.serviceblock2{background-position:150px -190px;  }
.serviceblock3{background-position:150px -124px;  }
.serviceblock4{background-position:150px -58px;  }

.serviceblock1:hover{background-position:150px -245px; }
.serviceblock2:hover{background-position:150px -441px; }
.serviceblock3:hover{background-position:150px -375px; }
.serviceblock4:hover{background-position:150px -309px; }
.layout-2.left-col #column-left { padding-left:30px; }
.layout-2.left-col #column-right { padding-right:30px; }
.address_content { padding-left:35px; background-position:255px 4px; }
#contact .phone { background-position:255px -66px; }
#contact .email { background-position:255px -132px; }
#footer .column { margin-right:0; margin-left:21px; }
.head-right-bottom {    margin-left:0px;}
.col-sm-4.product-right{padding:0;width:48.5%;}
.hometab.box, .category_tab .tabs, .box.featured {    margin:0;}
.category_lst_home .category_list_cms , .category_list_inner{    margin: 0;}
#Tab_Category_Slider .owl-carousel .owl-buttons div {    top: -17px;}
#blog-carousel .owl-controls .owl-buttons .owl-prev {    left: 10px;    right: auto;}
#blog-carousel .owl-controls .owl-buttons .owl-next {    left: 40px;    right: auto;}
.productpage .productpage_details .product-right{margin-right: 10px;}


}

@media (max-width: 1199px) and (min-width:1024px){
.header-left{padding-left:10px; padding-right:0;}
#top-links ul.list-inline li{padding: 0 0px 0 7px}
#form-language{padding: 0 0px 0 2px; margin-left: 3px; margin-right:0;}
.lang-curr{margin-right:0px; margin-left:0px;}
#footer .column.col-sm-3.newsletter{margin-left:0;}
.col-sm-5.header-search { padding:0; }
.col-sm-3.sort{margin-left:20px;}
.subbanner-cms1 { padding-right:20px; }
.headertopright .text2 { padding-right:42px; }
.common-home #nav-one > li > .dropdown-menu { right:268px; left:auto; }
#nav-one > li > .dropdown-menu { right:168px; left:auto; }
#footer #footer_aboutus_block.col-sm-3.column {    margin-left: 25px;}
#footer_storeinformation_block.col-sm-3.column {    width: 28%;}

#column-left .box-product, #column-right .box-product{padding:18px 20px 10px;}
#column-left .box-product .image, #column-right .box-product .image{margin-left:8px;}
#column-left .product-items .product-details, #column-right .product-items .product-details{width:62%;}
.box .box-content .box-category {    padding: 5px 20px;}
.product-list .product-thumb .caption{width:66%;margin:0;}
.product-list .product-thumb .list-right{width:34%;}
.product-list .product-block .desc{text-align:justify;}
.col-sm-4.product-right{padding:0;width:47.5%;}
.productpage .form-group.qty .wishlist, .quickview .form-group.qty .wishlist {    margin: 0 0 0 10px;    padding: 5px 0 5px 5px;}

.layout-3 #column-left, .layout-3 #column-right {
    width: 21.2%;
}
.layout-3 #content {
    margin: 0 5px;
    width: 56.5%;
}
.layout-2.left-col #column-left{padding-left:25px;}
#blog-carousel .owl-controls .owl-buttons .owl-next{left:41px;top:-30px;}
#blog-carousel .owl-controls .owl-buttons .owl-prev{left:10px;top:-30px;}
#testimonial .customNavigation a.prev {    left: -6px;    right: auto;}
#testimonial .customNavigation a.next {    left: 20px;    right: auto;}
.productpage .productpage_details .product-right{margin-right:20px;}


}

@media (max-width: 1023px) and (min-width:980px){
.col-sm-3.sort {    margin-left:20px;}
.category_list_inner{width:58.5%;margin-right:15px;}
.product-list .product-thumb .caption{width:66%;margin:0;}
.product-list .product-thumb .list-right{width:34%;}
.product-list .product-block .desc{text-align:justify;}
.col-sm-4.product-right{padding:0;width:47.5%;}
.productpage .form-group.qty .wishlist, .quickview .form-group.qty .wishlist {    margin: 0 0 0 10px;    padding: 5px 0 5px 5px;}
.hometab.box, .category_tab .tabs, .box.featured {    margin:0;}
.layout-3 #column-left, .layout-3 #column-right {
    width: 21%;
}
.layout-3 #content {
    margin: 0 5px;
    width: 56.9%;
}
#column-left .box-product .image, #column-right .box-product .image{margin-left:10px;}
#testimonial .customNavigation a.prev{left:-10px;}
#testimonial .customNavigation a.next{left:15px;}
#blog-carousel .owl-controls .owl-buttons .owl-prev {    left: 11px;    right: auto;}
#blog-carousel .owl-controls .owl-buttons .owl-next {    left: 42px;    right: auto;}
.productpage .productpage_details .product-right{margin-right:20px;}
}


@media (min-width:768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float: right;
	}
	.product-list .product-thumb .image {float: right;}
}


/*-------------------------------------RTL Responsive-------------------------------------*/

@media only screen and (max-width: 979px) {
 
	.nav-responsive .expandable{ float:left; }
	.nav-responsive div, .responsive-menu .hitarea{  }
	 .responsive-menu .main-navigation ul{ padding-right:20px; padding-left:0; }
	.nav-responsive div, .responsive-menu .hitarea{ float:left; }
	.toggle .mobile_togglemenu{ background-position: left 1px; }
	.active .mobile_togglemenu{background-position:left -51px;}
	 .pagination-right{float:right;}
	 .result-search-autocomplete > ul > li{float:right;}
	 .product-thumb .price{font-size:13px;}
	 .app-cms{float:left}
	 .payment-cms{float:none}
	 .category .image{float:none; clear:both; text-align:center; } 
	 .layout-2.left-col #content,.layout-2.right-col #content,.layout-3 #content{width:100%; } 
	 .nav-responsive .expandable:before{left:2px; right:auto; }
	 .col-sm-10.subscribe-btn{float:right; }
	 .cat-desc, .cate-heading, ul.subcats{float:none;}
	 .contact-info .right{float:right; clear:both;}
	 .header-left{border-left:medium none; padding-left:0px; text-align:right; }
	 .layout-2.left-col #column-left, .layout-2.right-col #column-right, .layout-3 #column-left, .layout-3 #column-right,#column-left,#column-right{padding:0; width:100%;}
	 #column-left .product-items .product-details, #column-right .product-items .product-details{float:right; margin-right:0px;}
 	 #column-left .box .toggle .mobile_togglemenu, #column-right .box .toggle .mobile_togglemenu{right:auto;}
	 .col-sm-5.header-search { padding:10px 0; }
	 #footer .col-sm-3.column{border:none;padding:0;}
	 .col-sm-3.sort {    margin-left: 20px;}
	 #res-menu .nav-responsive{float:right;}
	 p.powered {    float: none;}
	 
	 .product-list .product-thumb .caption{width:66%;margin:0;}
	 .product-list .product-thumb .list-right{width:34%;}
	 .product-list .product-block .desc{text-align:justify;}
	 .col-sm-4.product-right{padding:0;width:43%;}
	 .nav-inner.container {    padding: 25px 40px 15px;}
	 .serach-inner {    margin-top: 10px;    width: 100%;}
	 .productpage .form-group.qty .wishlist, .quickview .form-group.qty .wishlist {    margin: 0 0 0 10px;    padding: 5px 0 5px 5px;}
	 .hometab.box, .category_tab .tabs, .box.featured {    margin: 0;}
	 #top.fixed .content_header_topleft{margin-right:65px;margin-left:0;}
	 #top.fixed #res-menu .nav-responsive .expandable::before{right:-12px;left:auto;}
	 .news-title1 , .news-title2{text-align:right;float:right;}
	 
	 .hometab .customNavigation a.prev, .featured .customNavigation a.prev {    left: 21px;    right: auto}
	 .hometab .customNavigation a.next, .featured .customNavigation a.next {    left: 51px;    right: auto;}
	 #Tab_Category_Slider .owl-carousel .owl-buttons .owl-prev {    left: 21px;    right: auto;}
	 #Tab_Category_Slider .owl-carousel .owl-buttons div {    left: 51px;    right: auto;}
	 #blog-carousel .owl-controls .owl-buttons .owl-prev {    left: 11px;    right: auto;}
	 #blog-carousel .owl-controls .owl-buttons .owl-next {    left: 41px;    right: auto;}
	 .productpage .productpage_details .product-right{margin-right:20px;}


}
@media (max-width: 767px) {
	.header-logo,.header-search,.header-cart{display:inline-block;float:none;width:100%;}
	.header-logo{text-align:center;}
	.header-logo > div{display:inline-block;}
	.header-cart { margin: 0 auto; padding: 0;width: 200px;}	
	#cart .dropdown-menu {left: 0px; right:auto;}
	.category_filter .show {float: right; margin: 8px 0 0 10px;}	
	.header-cart{width:100%; display:inline-block; text-align:center;}
	 .table-responsive { float: right; }
	 .checkout-cart .table.table-bordered .input-group-btn{float:right;}
	 .offer-part2{float:left}
	 .addtocart .fa{margin:0;}
	 #search .col-sm-3.sort{float:right}	 
	 .subbanner-cms2 .sub-heading .banner_toggle{left:0; right:auto;}
	 .subbanner-cms2 .sub-heading .banner_toggle:before{left:15px; right:auto}
	 .subbannerpart1,.subbannerpart2, .subbannerpart3{width: auto;
    	float: none;
    	clear: both;
	}
	.nav-inner.container {    padding:5px 40px 15px;}
	.app-cms li{margin-left: -1px; margin-right:0;}
	.social-cms li{margin:0}	
	.product-list .product-thumb .button-group .addtocart .fa{margin-left:10px; margin-right:0px;}
	.product-list .product-thumb .image{float:right; padding:0; border:none; margin:0;}
	.product-list .product-details{float:right; width:100%; clear:both}
	#top-links ul.list-inline li{padding: 0 8px 0 10px}
	.checkout-cart #accordion .input-group-btn:last-child > .btn, .checkout-cart #accordion .input-group-btn:last-child > .btn-group{margin-left: 0px; margin-right: 5px;}
	.checkout-cart .shopping-cart .input-group-btn:last-child > .btn, .checkout-cart .shopping-cart .input-group-btn:last-child > .btn-group{margin-left:5px; margin-right:0}
	.category_tab .nav-tabs{float: right; width: 100%; margin: 10px 0;}
	.category_tab .tab-content{clear:both}
	.subbanner-one{margin-left:auto; margin-right:auto}
	.subbanner-three{margin-left:auto; margin-right:auto}
	 .category .image{float:none; clear:none;}
	 .dropdown.myaccount{margin-right:5px; margin-left:0;}
	 .breadcrumb{right:auto; left:15px;}
	 .header-left { text-align:center; float:none;}
	.content_header_topleft {    float: right;    padding: 22px 15px 17px 0;}
	 .htabs { float:right; }
	 #top .nav.pull-right{padding:19px 15px;float:left;}
	 #cart > .btn {    background-position: 7px 9px;    padding: 10px 45px 10px 0;}
	 #cart > .btn {    background-position: 7px 9px;    padding: 10px 45px 10px 0;}
	 #cart > .btn:hover {    background-position: 7px 9px;}
	 #cart .dropdown-menu.pull-right {    left: 0;    right: auto;}
	 #res-menu .nav-responsive .expandable::before {    left: -24px;    position: relative;    right: auto;}
	 .hometab .tab-head{float:right;width:100%;}
	 .hometab .customNavigation a {    top:16px;}
	 .category_img{margin:0 0 0 20px}
	 #footer #footer_aboutus_block.col-sm-3.column{margin:0;padding:0;}
	 
	 .product-list .product-thumb .caption {    border: medium none;    margin: 0;    padding: 0;    width: 100%;}
	 .product-list .product-thumb .list-right {    float: right;    width: 100%;text-align:right;}
	 .col-sm-4.product-right{width:100%;}
	 .col-md-3.row-result-search-autocomplete-image, .col-md-6.result-info, #searchbox {    float: left;    padding: 0;    width: 65%;}
	 .serach-inner {    margin-top: 5px;}
	 .product-thumb .button-group .addtocart {    padding: 5px 0;    text-align: center;}
	 .product-thumb .button-group .addtocart::before {    float: none;    right: -8px;}
	 #Tab_Category_Slider .owl-carousel .owl-buttons div {    top: -60px;}
	 .layout-2.left-col .nav-inner.container {    padding: 2px 36px 10px;}
	 .productpage .form-group.qty .wishlist, .quickview .form-group.qty .wishlist {    margin: 0 0 0 10px;    padding: 0 10px 1px 5px;}
	 .content-top-breadcum #title-content > h2, .content-top-breadcum #title-content > h1 , .breadcrumb{float:none;}
	 
	 #top.fixed .content_header_topleft{margin-right:65px;margin-left:0;float:right;}
	 #top.fixed #res-menu .nav-responsive .expandable::before{right:4px;left:auto;top:0;}
	 #top.fixed .nav.pull-right {    float: left;    padding: 20px 0 0 0px;    width: auto;}
	 #top.fixed #cart .dropdown-menu.pull-right {left:0;    right: auto}
	 #top.fixed #res-menu.responsive-menu .main-navigation{top:61px;}
	 
	  #form-language .dropdown-menu , #form-currency .dropdown-menu , .myaccount .dropdown-menu-right {    left: 0;    right: auto;}
	  
	 .hometab .customNavigation a.prev, .featured .customNavigation a.prev {    left: 11px;    right: auto;}
	 .hometab .customNavigation a.next, .featured .customNavigation a.next {    left: 41px;    right: auto;}
	 
	 #content .hometab .box-product.product-carousel {    padding: 12px 0 0;}
	 .hometab.box, .category_tab .tabs, .box.featured {    padding: 0 20px 30px;}
	 .category_tab .nav.nav-tabs {    margin-top: 0;    padding-bottom: 45px;}
	 #Tab_Category_Slider .owl-carousel .owl-buttons .owl-next {    left: auto;    right: 15px;}
	 #Tab_Category_Slider .owl-carousel .owl-buttons .owl-prev {    left: auto;    right: 46px;}
	 .category_tab .owl-wrapper-outer {    float: left;    margin-top: -18px;}
	 
	  .productpage .productpage_details .product-right{margin-right:0px;}
	  .content_header_topleft{padding:22px 15px 17px 0;}
	 
}
@media only screen and (max-width: 479px) {
	#cart .dropdown-menu { left: 0px;right:auto;}
	.table{	
		float: right;
		display:inline;		
	}
	.pagination-wrapper .page-link{float:right;}
	.pagination-wrapper .page-result{float:right;clear:both;}
	.checkout-cart .pull-right {clear: both; float: right; margin: 10px 0;}
	.checkout-cart #accordion .input-group-btn{float:right;}
	.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin:0px;}
	.social-cms{    
		float: none;
		display: inline-block;
		margin: 0px auto 20px;
		clear: both;
		width: 100%;
		text-align: center;
	}
	.app-cms{float: none;
		display: inline-block;
		margin: 0px auto 0px;
		clear: both;
		width: 100%;
		text-align: center;}
	.app-cms li{margin-left:5px;}
	.social-cms li{margin:0 0px 0 5px;}
	.footerblock{width: auto;
    margin: 15px 0;
    float: right;
    clear: both;}
	.main-slider,.subbanner-cms1{width:100%}
	
	
	.htabs{float:none; text-align:center; margin:0 auto; }		
	.dropdown.myaccount {		top:3px;	}
	.dropdown-menu.myaccount-menu{left:-55px; right:auto; text-align:right;}
	.headertopright{text-align:center}
	.headertopleft{display:inline-block; float:none; margin-bottom:10px; text-align:center; width:100%;}
	.shipping-cms{text-align:right}
	#top-links{float:none; text-align:center}
	#top-links ul.list-inline{float:none; display:none;}
	.lang-curr{float:none; display:inline-block;}
	.lang-curr .pull-left{float: none; display: inline-block;}
	.productpage #input-quantity{float:none; margin-bottom: 10px; margin-left: 0;}
	.checkout-cart #accordion .input-group-btn:last-child > .btn, .checkout-cart #accordion .input-group-btn:last-child > .btn-group{margin-left: 5px; margin-right: 0px;}
	.breadcrumb{right:0; left:auto;}
	.blog-left{float:none;}
	#form-language{background:none; padding: 0px; margin: 0px;}
	#form-language .dropdown-menu{left:0px; right:0; text-align:right}
	#form-currency .dropdown-menu{left:0px; right:0; text-align:right}
	.lang-curr{margin-right:0; margin-left:0px;}
	#top-links ul.list-inline li{margin-left:0; padding:0; background:none}
	.category .image{float:none; clear:both; text-align:center}
	.col-md-6.result-info{text-align:right; padding-right:15px; padding-left:0;}
	.comment-wrapper{float:right;width:100%;}
	.hometab .etabs{float:right;}
	.hometab .customNavigation a.prev {    left: auto;    right: 55px;    top: 100px;    z-index: 9;}
	.hometab .customNavigation a.next {    left: auto;    right: 15px;    top: 100px;    z-index: 9;}
	.customNavigation a.prev { left: auto;    right: 55px;}
	.customNavigation a.next {  left: auto;    right: 15px;}
	#Tab_Category_Slider .nav li{border:none;}
	#Tab_Category_Slider .owl-carousel .owl-buttons div {    top: -60px;}
	#Tab_Category_Slider .owl-carousel .owl-buttons .owl-prev {    left: auto;    right: 47px;}
	#Tab_Category_Slider .owl-carousel .owl-buttons .owl-next {    left: auto;    right: 15px;}
	#blog-carousel .owl-controls .owl-buttons .owl-prev {    left: auto;    right: 41px;}
	#blog-carousel .owl-controls .owl-buttons .owl-next {  left:auto;  right: 10px;}
	.hometab .customNavigation a.next, .featured .customNavigation a.next {    left: auto;    right: 10px;}
	.hometab .customNavigation a.prev, .featured .customNavigation a.prev {    left: auto;    right: 41px;}
	#content .box.featured .box-heading {    padding: 0 0 56px;}
	.top-inner .left-desc {
    border: medium none;
    text-align: center;
    width: 100%; }
	.manufacture_block > ul { padding:0; }
	#tabs_info .nav-tabs > li{border:none;}
	.col-md-3.row-result-search-autocomplete-image, .col-md-6.result-info, #searchbox{width:100%;}
	header {    margin-bottom:0px;}
	#top .container .col-sm-3.header-cart{float:none;margin:0 auto;}
	#top #cart {    float: none;}
	#cart > h4 {    left: -70px;width:110px;}
	.dropdown.myaccount {    margin: 0 auto;    top:6px;}
	.lang-curr{margin:0 auto;width:100px;}
	.right-links{width:135px;margin:5px auto 20px;}
	.htabs a, .categorytab .nav-tabs a{float:right}
	#cart > .btn{padding: 10px 65px 10px 0;}
	.layout-1 header {    margin-bottom: 70px;}
	#top.fixed .content_header_topleft{float:none;}
	#top.fixed #res-menu .nav-responsive .expandable::before{top:2px;}
	#top.fixed #cart > .btn , #top.fixed #cart > .btn:hover {    background-position: 19px 6px;}
	#blog-carousel .owl-controls .owl-buttons .owl-prev, #blog-carousel .owl-controls .owl-buttons .owl-next {    top:-3px;}
	
	#top.fixed .content_header_topleft{float:none;margin:0 auto;}
	#top.fixed .responsive-menu {    top: -123px;}
	#top.fixed #cart > .btn , #top.fixed #cart > .btn:hover {    background-position: 12px 6px;}
	
	 .productpage .productpage_details .product-right{margin-right:0px;}
	 
	 .content_header_topleft {    float: none;    padding: 15px 0 5px;}
	#top .nav.pull-right {    float: none; padding: 0 0 8px;}
	#top .container .col-sm-3.header-cart{float:left;}
	.right-links{width:129px;margin:10px auto 7px;}
	#cart > .btn {    padding: 10px 50px 10px 0;}
	#cart .dropdown-menu.pull-right {    left: -57px;    right: auto;}
	
}
@media only screen and (max-width: 319px){
	#cart .dropdown-menu { left: -33px;right:auto;}
	#cart .text-right .checkout{margin:0;}
	#cart .text-right .checkout{float:left; clear:both;}
}

.ui-autocomplete .ui-menu-item, .ui-autocomplete .ui-menu-item div, .ui-autocomplete .ui-menu-item span{text-align:right !important;}
.ui-autocomplete .price-new{float:right;}

